* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", cursive;
}

.header {
  min-height: 20vh;
  width: 100%;
  background-color: rgb(196, 220, 242);
  background-position: center;
  background-size: cover;
  position: relative;
}

.abc a {
  text-decoration: none;
  font-family: "Sofia", sans-serif;
  color: rgb(0, 11, 11);
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 75px;
  height: 60px;
}

.name {
  text-align: center;
  padding-top: 5%;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end; /* Ensure links are on the right side */
}

.nav-links ul li {
  margin: 0 12px;
  position: relative;
}

.nav-links ul li a {
  text-decoration: none;
  color: black;
  font-family: "sans-serif";

}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(217, 171, 171);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-button {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  color: rgb(49, 45, 45);
  background: #fff3f3;
  cursor: pointer;
}

@media (max-width: 700px) {
  nav {
    padding: 2% 4%;
  }

  .header {
    min-height: 1vh;
    
  }
  nav img {
    width: 50px;
    height: 40px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right in column mode */
  }

  .nav-links ul {
    flex-direction: row; /* Change back to row layout in mobile mode */
  }

  .nav-links ul li {
    margin: 10px 0;
    margin-right: 10px;
  }

 
  .nav-links ul li a {
    font-size: 10px;
    color: black;
    font-family: "sans-serif";
  }
 
}
