

<h1>Internship</h1>

<h1>About the company:</h1>

<p>Cavin Kare is a Consumer-Packaged Goods ( CPG/FMCG ) company which is into personal care, food and beverages and hair care products. It is the house of famous Indian brands such as Chick, Meera, Cavin’s, Indica and many more. Cavin Kare revolutionized the sachet packaging industry to make it affordable for the low-income population in India who had limited purchasing power for bigger SKU’s.</p>
<img src="../../assets/images/store.png" alt="store" class="center">
<p style="padding-left:20% ;"><strong> Picture taken from internet.</strong></p>
<p>As a summer intern I was in the general trade marketing team which handled sales of the personal care segment. </p>
<h1>Journey:</h1>
<ul class="dot">
<li>Understand end-to-end of new business plan which is launched.</li>
<li>Feedback on the business plan</li>
<li>Actionable</li>
</ul>
<h1>New Business plan:</h1>
<p> Other than advertisements which targeted mass audience in an FMCG industry, having a salesperson present in retail stores to promote brand can help increase brand awareness and sales by providing customers with information about the product and highlighting its benefits. This has been a practice followed by top FMCG organizations like HUL, P&G and many other in India. Cavin Kare started this as a pilot project to enforce its sales team in the retail stores of Bangalore & Hyderabad, to test the revenue difference. After noticing a considerate difference in the revenues of the stores served by salesman, they started to expand this project to the remaining states</p>

<h1>The major activities include:</h1>
<ul class="dot">
<li>Identifying outlets where a salesman can be deployed</li>
<li>Training of salesman to improve the stores revenue every month</li>
</ul>

<h1>Feedback on the business plan:</h1>

<p>After visiting outlets in Chennai, have identified that salesman had problems remembering SKU’s and pricing as the category offered at least 150 SKU’s. To impact visibility, accessibility and influence sales, shelf space is important for an FMCG organizations. CavinKare used to pay standard fee to any retailer for the shelf space, this gave them an edge in few outlets, while losing it to competitors in other outlets. </p>

<h1>Actionable:</h1>
<ul class="dot">
<li>Prepared a handy 1-pager booklet for saleman, which can be referred for SKU’s details, prices and planogram of each SKU</li>
<img src="../../assets/images/store2.png" alt="" class="center">
<li>Analyzed and proposed the shelf space bidding to be as % of the outlet revenue rather than a fixed price. The parameters used in determining the bidding rate are customer foot fall, outlet avg revenue and outlet sq foot</li>
<li>Identified the outlets which need not require a promoter </li>
<li>Worked with Graphic design team to design a dealer dashboard</li>
<img src="../../assets/images/store3.png" alt="" class="center">