<link rel="preconnect" href="https://fonts.googleapis.com" /><link
  rel="preconnect"
  href="https://fonts.gstatic.com"
  crossorigin
/>
<link
  href="https://fonts.googleapis.com/css2?family=Unbounded&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<head>
  <meta name="viewport" />
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-J9GCQW77JM"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-J9GCQW77JM");
  </script>
</head>
<img src="../../assets/images/Niharika_pic.jpg" />
<h1>About Niharika</h1>

<p>
  <strong>Bio:</strong> Experienced Software Developer | Full Stack | Agile
  Advocate 🚀 | Crafting robust and user-centric applications through a passion
  for technology and a comprehensive understanding of the entire software
  development life cycle. Proficient in Java, JavaScript, React, Node.js, and
  Spring Boot. Let's connect and explore how I can bring value to your
  projects!<br /><br />

  Throughout my time in these roles, I was put across various functionalities
  and was given an opportunity to get my hands dirty, allowing me to identify
  new business opportunities and played major role in teams success. My
  communication skills and ability to work effectively with cross-functional
  teams have contributed to my success in driving growth for my employer.<br /><br />

  With keen interest in technical products and how they make life easy, I have
  done a professional Master's degree at University of Alabama at Birmingham.
  With a thirst for new challenges, I’m now seeking to transition into entry
  level Software roles. I’m confident that my strong background in engineering ,
  coupled with my passion for technology and innovation, will enable me to excel
  in this new challenge and be a value addition to my future employer.
</p>
<br /><br /><br />
<br /><br /><br />
<div class="skills">
  <h1>My Skills:</h1>
</div>
<div class="para">
  <p class="languages" >
    <b>Languages:</b> C, Ruby, Java, Python, JavaScript, HTML, CSS
    <br />
    <b>Frameworks:</b> Rails, Spring Boot, Bootstrap, AngularJS, React
    <br />
    <b>Database:</b> PostgreSQL, RDBMS
    <br />
    <b>Tools:</b> Amazon Web Services(AWS), GitHub, Figma, Heroku, Jira
    <br />
    <b>Others:</b> Kubernetes, Docker, Jenkins, GitLab CI/CD, Ansible
  </p>
  <br /><br />

  <h1>Let's Connect</h1>
  <h1 class="symbols" >
    <a class="symbol1" href="https://www.linkedin.com/in/niharika-parimi/"
      ><i class="fa fa-linkedin-square" aria-hidden="true"></i
    ></a>
    <a href="mailto:pariminiharika12@gmail.com"
      ><i class="fa fa-envelope-o" aria-hidden="true"></i>
    </a>
  </h1>
</div>
