h1 {
  padding-left: 35%;
}
p {
  padding-left: 300px;
  padding-right: 700px;
  line-height: 2;
  font-size: large;
  margin-top: 50px;
  text-align: justify;
  text-size-adjust: auto;
}
img {
  float: right;
  padding-right: 100px;
  margin-top: 250px;
  height: 75%;
}
.connect p {
  padding-left: 45%;
  padding-right: 30%;
}
.para p {
  padding-right: 250px;
}
.para h1{
  padding-left: 45%;

}
.skills h1{
  padding-left: 45%;
}

@media (max-width: 700px) {
  h1 {
    padding-left: 25%;
  }
  
  .skills h1{
    padding-left: 30%;
  }
  .para h1{
    padding-left: 25%;
  
  }

  p {
    padding-left: 50px;
    padding-right: 50px;
    line-height: 2;
    font-size: large;
    text-align: justify;
  }
  img {
    padding-top: 0%;
    width: 50%;
    height: max-content;
  }
  .connect p {
    padding-left: 45%;
    padding-right: 10%;
  }
  .para p {
    padding-right: 50px;
  }
  .para a {
    padding-right: 200px;
  }
}
