ul.num {
  list-style-type: decimal;
  padding-left: 400px;
  padding-right: 200px;
  line-height: 2;
  font-size: large;
  list-style-position: inside;
}

ul.dot {
  list-style-type: circle;
  padding-left: 400px;
  padding-right: 200px;
  line-height: 2;
  font-size: large;
  list-style-position: inside;
}
video{
  width:500px;
  height:500px;
  padding-left: 40%;
}
p,
h1,h2,h3 {
  padding-left: 400px;
  padding-right: 200px;
  line-height: 2;
  font-size: large;
}

@media (max-width: 700px) {
  p,
  h1,h2,h3,
  ul.dot,
  ul.num {
    padding-left: 20px;
    padding-right: 10px;
  }

  video{
    width:300px;
    height:200px;
    padding-left: 10%;
  }
  .course-col {
    padding: 2px 1px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* Adjust as needed */
  }
}

.data img {
  float: left;
}

.row {
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
}

.course-col {
  flex-basis: 25%;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.course-col img {
  width: 100%;
  display: block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
