<section>
  <h1>My resume</h1>
  <div class="resume">
    <a
      href="https://drive.google.com/file/d/1gg_g1CkNU3xlhQezqaR1GIvy9GWUg9oL/view?usp=drive_link"
      ><img
        src="../../assets/images/Niharika P.V Resume.jpg"
        class="center"
        alt="Festivals"
        height="1000px"
        width="700px"
    /></a>
  </div>
</section>
<button class="button" type="submit">
  <a
    href="https://drive.google.com/file/d/1gg_g1CkNU3xlhQezqaR1GIvy9GWUg9oL/view?usp=drive_link"
    >View As PDF</a
  >
</button>
